.blog__container {
    padding-top: 72px;
    padding-bottom: 130px;
}

.blog__article {
    display: flex;
    max-width: 1433px;
    gap: 50px 25px;
    justify-content: space-between;
    padding: 100px 0;
    margin: 0 auto;
    flex-wrap: wrap;
}

.article-cart {
    display: flex;
    width: 640px; 
    gap: 30px;
}

.article-cart__img-block {
    height: 195px;
    width: 195px;
    flex-shrink: 0;
}

.article-cart__img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.article-cart__text-block {
    display: flex;
    flex-direction: column;
}

.article-cart__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 41.6px;
    color: var(--darkgrey-color, #2D2D2D);
    margin-bottom: 13px;
}

.article-cart__date {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    color: var(--lightgrey-color, #8F8F8F);
    margin-bottom: 39.5px;
}

.article-cart__reaction {
    display: flex;
    gap: 25px;
}

.article-cart__views,
.article-cart__comments {
    display: flex;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: var(--lightgrey-color, #8F8F8F);
    vertical-align: middle;
    align-items: center;
}

.article-cart__views:before,
.article-cart__comments:before {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
}

.article-cart__views:before {
    width: 20px;
    height: 14px;
    background-image: url('/img/blog/views.svg');
}

.article-cart__comments:before {
    width: 20px;
    height: 20px;
    background-image: url('/img/blog/comments.svg');
}

.blog__pagination {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 17px;
}

.pagination__left,
.pagination__right {
    background-color: transparent;
    outline: none;
    border: none;
}

.pagination__img {
    object-fit: contain;
    width: 37px;
    height: 37px;
    outline: none;
}

.pagination__num {        
    width: 36px;
    height: 36px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    border: 3px solid var(--darkgrey-color, #2D2D2D);;
    border-radius: 5px;
    color: var(--darkgrey-color, #2D2D2D);
}

.pagination__num:not(:last-child) {
    margin-right: 6px;
}

.pagination__img:hover,
.pagination__img:focus {
    fill: var(--blue-color, #3670C7);
}

.pagination__num:hover,
.pagination__num:focus {
   color: var(--blue-color, #3670C7);
   border-color: var(--blue-color, #3670C7);
}

@media (max-width: 768px) {
    .blog__container {
        padding-top: 25px;
    }

    .article-cart {
        flex-direction: column; 
        gap: 30px;   
    }

    .article-cart__img-block {
        align-self: center;
    }
  }