
.present__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 210px) repeat(4, 228px);
  gap: 60px;
}

.present__gallery {
  position: relative;
}

.present__timer {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: 0;
  margin: 0 auto;
}

.present__gallery:after {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 88px;
  height: 88px;
  font-size: 30px;
  font-weight: 700;
  line-height: 88px;
  -moz-border-radius: 44px;
  -webkit-border-radius: 44px;
  border-radius: 44px;
  background-color: var(--yellow-color, #ffbd13);
  color: var(--white-color, #ffffff);
}

.present__img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.present__gallery-one {
  grid-column: 1 / 7;
  grid-row: 1 / 3;
}

.present__gallery-two {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.present__gallery-three {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.present__gallery-three:after {
  content: "-25%";
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.present__gallery-four {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.present__gallery-four:after {
  content: "-40%";
  position: absolute;
  top: 20px;
  left: 20px;
}

.present__gallery-five {
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}

.present__gallery-six {
  grid-column: 5 / 7;
  grid-row: 3 / 4;
}

.present__gallery-seven {
  grid-column: 5 / 7;
  grid-row: 4 / 5;
}

.present__gallery-seven:after {
  content: "-15%";
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.present__gallery-eight {
  grid-column: 1 / 5;
  grid-row: 5 / 7;
}

.present__gallery-nine {
  grid-column: 5 / 6;
  grid-row: 5 / 7;
}

.present__gallery-nine:after {
  content: "-55%";
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.present__gallery-ten {
  grid-column: 6 / 7;
  grid-row: 5 / 6;
}

.present__gallery-ten:after {
  content: "-25%";
  position: absolute;
  top: 20px;
  left: 20px;
}

.present__gallery-eleven {
  grid-column: 6 / 7;
  grid-row: 6 / 7;
}

.present__text {
  position: absolute;
  color: var(--white-color, #ffffff);
}

.present__text_bold {
  font-weight: 700;
}

.present__text_big {
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
}

.present__text-one {
  top: 145px;
  left: 112px;
  font-size: 70px;
  font-weight: 700;
  line-height: 91px;
}

.present__text-two {
  width: 120px;
  top: 80px;
  left: 20px;
  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
}

.present__text-three {
  top: 67px;
  left: 14px;
  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
}

.present__text-five {
  top: 325px;
  left: 20px;
  right: 20px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  padding: 24px 26px;
  background-color: var(--lightblue-color, #38c0eb);
  border-radius: 20px;
}

.present__text-six {
  width: 340px;
  top: 94px;
  left: 30px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.present__text-seven {
  top: 136px;
  left: 30px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
}

.present__text-eight {
  text-transform: uppercase;
  top: 368px;
  left: 50px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  padding: 30px 40px;
  color: var(--red-color, #f91155);
  background-color: var(--white-color, #ffffff);
  border-radius: 20px;
}

.present__text-ten {
  top: 130px;
  left: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

.present__img_transform_scale {
  transform: scale(-1, 1);
  object-position: left top;
}

@media (max-width: 1200px) {
  .present__container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 160px) 202px repeat(3, 194px) repeat(2, 214px);
    column-gap: 30px;
    row-gap: 22px;
  }

  .present__gallery-one {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    margin-bottom: 28px;
  }

  .present__gallery-six {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }

  .present__gallery-seven {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
  }

  .present__gallery-eight {
    grid-row: 7 / 9;
    margin-top: 32px;
  }

  .present__gallery-nine {
    grid-column: 3 / 4;
  }

  .present__gallery-ten {
    grid-column: 4 / 5;
  }

  .present__gallery-eleven {
    grid-column: 4 / 5;
  }

  .present__text-one {
    top: 80px;
    left: 80px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }

  .present__text-two {
    width: 180px;
    top: 101px;
    left: 13px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
  }

  .present__text-three {
    top: 54px;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
  }

  .present__text-five {
    top: 245px;
    font-size: 30px;
  }

  .present__text-six {
    top: 89px;
    font-size: 30px;
    line-height: 39px;
  }

  .present__text-seven {
    top: 119px;
    left: 30px;
    font-size: 30px;
    line-height: 39px;
  }

  .present__text-eight {
    top: 300px;
    left: 30px;
    font-size: 30px;
    line-height: 36px;
    padding: 24px 46px;
  }

  .present__text-ten {
    top: 150px;
    left: 10px;
    font-size: 20px;
    line-height: 22px;
  }

  .present__text_big {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (max-width: 768px) {
  .present__container {
    grid-template-columns: 1fr 1fr 1.4fr 1.3fr;
    grid-template-rows: repeat(2, 138px) 130px repeat(3, 126px) repeat(2, 157.5px);
    column-gap: 20px;
    row-gap: 22px;
  }

  .present__timer {
    bottom: 30px;
  }

  .present__gallery-one {
    margin-bottom: 18px;
  }

  .present__gallery-eight {
    margin-top: 0;
  }

  .present__gallery:after {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
  }

  .present__gallery-three:after {
    bottom: 10px;
    right: 10px;
  }
  .present__gallery-four:after {
    top: 10px;
    left: 10px;
  }
  .present__gallery-seven:after {
    bottom: 10px;
    right: 10px;
  }
  .present__gallery-nine:after {
    bottom: 10px;
    right: 10px;
  }
  .present__gallery-ten:after {
    top: 10px;
    left: 10px;
  }

  .present__text_big {
    font-size: 26px;
    line-height: 28.6px;
  }

  .present__text-one {
    top: 64px;
    left: 80px;
    font-size: 30px;
    line-height: 39px;
  }

  .present__text-two {
    width: 120px;
    top: 43px;
    left: 10px;
    font-size: 20px;
    line-height: 22px;
  }

  .present__text-three {
    top: 15px;
    left: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
  }

  .present__text-five {
    top: 200px;
    left: 10px;
    right: 10px;
    font-size: 16px;
    line-height: 17.6px;
    padding: 12px 20px 18px 26px;
    border-radius: 12px;
  }

  .present__text-six {
    width: 140px;
    top: 70px;
    left: 21px;
    font-size: 16px;
    line-height: 19.2px;
  }

  .present__text-seven {
    top: 87px;
    left: 21px;
    font-size: 16px;
    line-height: 19.2px;
  }

  .present__text-eight {
    top: 243px;
    left: 26px;
    font-size: 20px;
    line-height: 24px;
    padding: 22px 34px;
    border-radius: 12px;
  }

  .present__text-ten {
    top: 94px;
    left: 15px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 520px) {
  .present__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 160px) 120px 118px repeat(2, 93px) repeat(2, 118px) repeat(2, 95px) 123px;
    gap: 20px;
  }

  .present__gallery-one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    margin-bottom: 0;
  }

  .present__gallery-two {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .present__gallery-three {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .present__gallery-four {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .present__gallery-five {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
  }

  .present__gallery-six {
    grid-column: 1 / 3;
    grid-row: 7 / 8;
  }

  .present__gallery-seven {
    grid-column: 1 / 3;
    grid-row: 8 / 9;
  }

  .present__gallery-eight {
    grid-column: 1 / 3;
    grid-row: 11 / 12;
  }

  .present__gallery-nine {
    grid-column: 1 / 2;
    grid-row: 9 / 11;
  }

  .present__gallery-ten {
    grid-column: 2 / 3;
    grid-row: 9 / 10;
  }

  .present__gallery-eleven {
    grid-column: 2 / 3;
    grid-row: 10 / 11;
  }

  .present__text_big {
    font-size: 16px;
    line-height: 17.6px;
  }

  .present__text-one {
    top: 50px;
    left: 29px;
    font-size: 22px;
    line-height: 28.6px;
  }

  .present__text-two {
    width: 50px;
    top: 66px;
    left: 10px;
    font-size: 12px;
    line-height: 13.2px;
  }

  .present__text-three {
    top: 18px;
    left: 10px;
    font-size: 12px;
    line-height: 15.6px;
  }

  .present__text-five {
    top: 160px;
    font-size: 12px;
    line-height: 13.2px;
    padding: 7px 25px 11px 25px;
  }

  .present__text-six {
    width: 200px;
    top: 88px;
    left: 10px;
    font-size: 12px;
    line-height: 14.4px;
  }

  .present__text-seven {
    top: 88px;
    left: 10px;
    font-size: 12px;
    line-height: 14.4px;
  }

  .present__text-eight {
    top: 83px;
    left: 15px;
    font-size: 12px;
    line-height: 14.4px;
    padding: 7px 41px;
  }

  .present__text-ten {
    top: 70px;
    left: 9px;
    font-size: 12px;
    line-height: 14.4px;
  }
}
