.profit {
    padding-bottom: 137px;
}

.profit__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 50px;
}

.profit__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 47px 30px;
}

.profit__img {
    width: 100%;
    height: 295px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 14px;
    margin-bottom: 20px;
}

.profit__price {
    margin-bottom: 15px;
}

.profit__new-price {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    margin-right: 28px;
}

.profit__old-price {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: line-through;
}

.profit__desc {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
}

.profit__gallery {
    position: relative;
}

.profit__gallery:after {
    position: absolute;
    left: 20px;
    top: 187px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 88px;
    height: 88px;
    font-size: 30px;
    font-weight: 700;
    line-height: 88px;
    -moz-border-radius: 44px;
    -webkit-border-radius: 44px;
    border-radius: 44px;
    background-color: var(--yellow-color, #ffbd13);
    color: var(--white-color, #ffffff);
}

.profit__gallery-one:after {
    content: "-50%";
}

.profit__gallery-two:after {
    content: "-40%";
}

.profit__gallery-three:after {
    content: "-10%";
}

.profit__gallery-four:after {
    content: "-30%";
}

.profit__gallery-five:after {
    content: "-10%";
}

.profit__gallery-six:after {
    content: "-30%";
}

.profit__gallery-seven:after {
    content: "-30%";
}

.profit__gallery-eight:after {
    content: "-50%";
}

@media (max-width: 1200px) {
    .profit__wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 35px 30px;
    }

    .profit__title {
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 40px;
    }

    .profit__price {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .profit__gallery:after {
        top: 225px;
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
    }
}

  
  @media (max-width: 520px) {
    .profit__wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 20px;
    }

    .profit__title {
        font-size: 22px;
        line-height: 28.6px;
        margin-bottom: 30px;
    }

    .profit__price {
        margin-bottom: 0;
    }

    .profit__new-price {
        font-size: 22px;
        line-height: 28.6px;
    }
    
    .profit__old-price {
        font-size: 18px;
        line-height: 22px;
    }
    
    .profit__desc {
        font-size: 18px;
        line-height: 28px;
    }

    .profit__img {
        height: 185px;
        margin-bottom: 5px;
    }

    .profit__gallery:after {
        top: 120px;
    }

}