*:root {
  --white-color: #FFFFFF;
  --black-color: #000000;

  --blue-color: #3670C7;
  --lightblue-color: #38C0EB;

  --red-color: #F91155;
  --yellow-color: #FFBD13;

  --grey-color: #EFEFEF;
  --lightgrey-color: #8F8F8F;
  --darkgrey-color: #2D2D2D;
}
