.ad {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  gap: 50px;
  flex-basis: 532px;
  @include desktop{
    gap: 40px;
    flex-basis: 300px;
  }
  @include laptop {
    flex-direction: row;
    padding-top: 0;
    gap: 60px;
    flex-basis: 100%;
  }
  @include tablet {
      display: none;
  }
}

.card {
  position: relative;
  height: 328px;
  @include desktop {
    height: 254px;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__text {
    position: absolute;
    left: 5.6%;
    top: 80%;
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: $white-color;
    @include desktop {
      font-size: 14px;
      line-height: 18.2px;
    }
  }

  &__title {
    position: absolute;
    left: 5.6%;
    bottom: 23%;
    font-family: Lato, serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    color: $white-color;
    @include desktop {
      font-size: 22px;
      line-height: 28.6px;
    }
  }
}
