.card-product {
  padding-bottom: 137px;
  @include desktop {
    padding-bottom: 100px;
  }
  @include laptop {
    padding-bottom: 80px;
  }
  @include tablet {
    padding-bottom: 70px;
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 50px;
    @include desktop {
      font-size: 40px;
      line-height: 52px;
      margin-bottom: 40px;
    }
    @include laptop {
      font-size: 30px;
      line-height: 39px;
      margin-bottom: 30px;
    }

    @include tablet {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 25px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 47px 30px;
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 50px 20px;
    }
    @include laptop {
      gap: 40px 20px;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 20px;
    }
  }

  &__img-block {
    height: 295px;
    margin-bottom: 20px;
    border-radius: 14px;
    overflow: hidden;
    @include laptop {
      height: 216px;
      margin-bottom: 15px;
    }
    @include tablet {
      height: 130px;
      margin-bottom: 10px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    object-position: bottom;
  }

  &__price {
    margin-bottom: 15px;
    @include desktop {
      margin-bottom: 15px;
    }
    @include laptop {
      margin-bottom: 10px;
    }
    @include tablet {
      margin-bottom: 3px;
    }
  }

  &__new-price {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    margin-right: 28px;
    @include laptop {
      font-size: 22px;
      line-height: 26.4px;
      margin-right: 16px;
    }
    @include tablet {
      font-size: 16px;
      line-height: 19.2px;
    }
  }

  &__old-price {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: line-through;
    @include laptop {
      font-size: 16px;
      line-height: 19.2px;
    }
    @include tablet {
      font-size: 12px;
      line-height: 14.4px;
    }
  }

  &__desc {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    @include laptop {
      font-size: 18px;
      line-height: 27px;
    }
    @include tablet {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__gallery {
    position: relative;
  }

  &__discount {
    position: absolute;
    top: 187px;
    left: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 88px;
    height: 88px;
    font-size: 30px;
    font-weight: 700;
    line-height: 88px;
    -moz-border-radius: 44px;
    -webkit-border-radius: 44px;
    border-radius: 44px;
    background-color: $yellow-color;
    color: $white-color;
    @include laptop {
      top: 146px;
      left: 10px;
      width: 60px;
      height: 60px;
      font-size: 20px;
      line-height: 60px;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      border-radius: 30px;
    }
    @include tablet {
      top: 84px;
      left: 6px;
      width: 40px;
      height: 40px;
      font-size: 12px;
      line-height: 40px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
    }
  }
}
