.recommend {
  padding-bottom: 147px;
  @include desktop {
    padding-top: 15px;
    padding-bottom: 100px;
  }
  @include laptop {
    padding-bottom: 80px;
  }
  @include tablet {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 30px;
    @include desktop {
      font-size: 30px;
      line-height: 39px;
    }
    @include tablet {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 25px;
    }
  }

  &__swiper {
    width: 100%;
  }
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 60px;
  }

  &__block-img {
    display: flex;
    align-items: center;
    height: 295px;

    @include laptop {
      height: 216px;
    }
    @include tablet {
      height: 130px;
    }
  }
  &__img {
    object-fit: cover;
    transform: scaleY(70%);
    @include tablet {
      object-fit: scale-down;
    }
  }
  &__price {
    display: flex;
    flex-wrap: wrap;
    @include tablet {
      justify-content: center;
    }
  }
  &__name {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    @include laptop {
      font-size: 18px;
      line-height: 27px;
    }
    @include tablet {
      font-size: 12px;
      line-height: 18px;
      text-align: center;
    }
  }
  &__new-price {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    margin-bottom: 15px;
    margin-right: 28px;
    @include laptop {
      font-size: 22px;
      line-height: 26.4px;
      margin-bottom: 10px;
      margin-right: 16px;
    }
    @include tablet {
      font-size: 16px;
      line-height: 19.2px;
      margin-bottom: 3px;
      text-align: center;
    }
  }
  &__old-price {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: line-through;
    @include laptop {
      font-size: 16px;
      line-height: 19.2px;
    }
    @include tablet {
      font-size: 12px;
      line-height: 14.4px;
    }
  }

  &__picture {
    position: relative;
    align-self: center;
    &:after {
      content: "-10%";
      position: absolute;
      left: 20px;
      bottom: 10px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      width: 88px;
      height: 88px;
      font-size: 30px;
      font-weight: 700;
      line-height: 88px;
      -moz-border-radius: 44px;
      -webkit-border-radius: 44px;
      border-radius: 44px;
      background-color: $yellow-color;
      color: $white-color;
      @include desktop {
        left: 20px;
        bottom: 10px;
        width: 66px;
        height: 66px;
        font-size: 20px;
        line-height: 66px;
        -moz-border-radius: 33px;
        -webkit-border-radius: 33px;
        border-radius: 33px;
      }
      @include laptop {
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
      }
      @include tablet {
        left: 50px;
        bottom: 40px;
        width: 32px;
        height: 32px;
        font-size: 12px;
        line-height: 32px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
      }
    }
  }
}
