.timer {
  max-width: 500px;
  text-align: center;
  color: $white-color;

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    margin-bottom: 10px;
    @include laptop {
      font-size: 12px;
      line-height: 16.6px;
    }
    @include tablet {
      font-size: 8px;
      line-height: 10.6px;
      margin-bottom: 6px;
    }
  }

  &__block {
    display: flex;
    justify-content: center;
    gap: 30px;
    @include desktop {
      gap: 20px;
    }
    @include laptop {
      gap: 10px;
    }
    @include tablet {
      gap: 8px;
    }
  }

  &__count {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    @include desktop {
      font-size: 40px;
      line-height: 52px;
    }
    @include laptop {
      font-size: 30px;
      line-height: 39px;
    }
    @include tablet {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__units {
    font-size: 32px;
    font-weight: 700;
    line-height: 41.6px;
    @include desktop {
      font-size: 20px;
      line-height: 26px;
    }
    @include laptop {
      font-size: 16px;
      line-height: 20.8px;
    }
    @include tablet {
      font-size: 12px;
      line-height: 15.6px;
    }
  }

  &__item_seconds {
    display: none;
  }
}