  $background-color: #1B1A1B;
  
  $white-color: #FFFFFF;
  $black-color: #000000;

  $blue-color: #3670C7;
  $lightblue-color: #38C0EB;

  $red-color: #F91155;
  $lightred-color: #FF0000;
  $yellow-color: #FFBD13;

  $grey-color: #EFEFEF;
  $linegrey-color: #E8E8E8;
  $lightgrey-color: #8F8F8F;
  $darker-than-lightgrey-color: #525252;
  $darkgrey-color: #2D2D2D;

  $brown-color: #424242;

@mixin desktop {
  @media (max-width: 1200px) {
  @content
  }
}

@mixin laptop {
  @media (max-width: 768px) {
  @content
  }
}

@mixin tablet {
  @media (max-width: 520px) {
  @content
  }
}


  // $cart-count: 2;
  // $column-gap: 140px;
  // @media (max-width: 1200px) {
  //   $column-gap: 20px;
  // }
  // @media (max-width: 768px) {
  //   $cart-count: 1;
  //   $column-gap: 20px;
  // }
  // @media (max-width: 520px) {
  //   $column-gap: 10px;
  // }



@mixin font($name, $weight) {
  font: {
    family: $name;
    weight: $weight;
    display: swap;
  }
  src: url("../fonts/#{ $name }-#{ $weight }.woff2") format("woff2"),
    url("../fonts/#{ $name }-#{ $weight }.woff") format("woff"),
}

@mixin bg-full ($url) {
  background: {
    image: url($url);
    size: cover;
    position: center;
    repeat: no-repeat;
  };
}