.ad {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  gap: 50px;
}

.card {
  max-width: 530px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_bg_travel {
  background-image: url("../img/ad/aside-travel.jpg");
}

.card_bg_car {
  background-image: url("../img/ad/aside-car.jpg");
}

.card__text {
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--white-color, #FFFFFF);
  padding: 10px 110px 30px 30px;
}

.card__title {
  font-family: Lato, serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  color: var(--white-color, #FFFFFF);
  padding: 230px 110px 0 30px;
}


@media (max-width: 1825px) {
  .ad {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    flex-basis: 530px;
  }
}

@media (max-width: 520px) {
  .ad {
    padding: 30px 0;
    gap: 50px;
  }

  .card__text {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 110px 30px 15px;
  }
  
  .card__title {
    font-size: 22px;
    line-height: 28px;
    padding: 100px 50px 0 15px;
  }

}