.page__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 63px;
}

.article {
  width: 1095px;
}

.article__crumbs {
  margin-bottom: 80px;
}

.page__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  color: #454545;
  margin-bottom: 40px;
}

.article__subtitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  margin-top: 40px;
  margin-bottom: 0;
}

.article__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 40px;
  margin-top: 0;
}

.article__text-header {
  margin-bottom: 80px;
}

.article__text-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
}

.article__list {
  padding-left: 0;
  margin: 50px 0;
}

.article__item {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.article__link-block {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

.article__text {
  margin-bottom: 100px;
}

.article__link-back {
  position: relative;
  padding-left: 34px;
  align-self: center;
}

.article__link-back:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 12px;
  left: 0;
  top: 2px;
  background-image: url("/img/article/keyboard_backspace.svg");
}

.article__author {
  display: flex;
  flex-direction: column;
}

.article__link-author {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: var(--black-color, #000000);
  margin-bottom: 20px;
  align-self: flex-end;
}

.article__date {
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  color: var(--lightgrey-color, #8f8f8f);
  margin-bottom: 15px;
}

.article__reaction {
  display: flex;
  gap: 37px;
}

.article__views,
.article__comments {
  display: flex;
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: var(--lightgrey-color, #8f8f8f);
  vertical-align: middle;
  align-items: center;
}

.article__views:before,
.article__comments:before {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}

.article__views:before {
  width: 20px;
  height: 14px;
  background-image: url("/img/blog/views.svg");
}

.article__comments:before {
  width: 20px;
  height: 20px;
  background-image: url("/img/blog/comments.svg");
}

.article__link-back:hover {
  color: var(--blue-color, #3670C7);
}

@media (max-width: 1825px) {
  .article {
    width: 100%;
  }
}


@media (max-width: 520px) {
  .page__container {
    padding-top: 75px;
  }

  .page__title {
      font-size: 35px;
      font-weight: 700;
      line-height: 45px;
      margin-bottom: 20px;
  }

  .article__text {
    margin-bottom: 30px;
  }

  .article__link-block {
    flex-direction: column;
    gap: 20px;
    margin-right: 0; 
  }

  .article__author {
    align-items: flex-end;
    order: 1;
  }

  .article__link-back {
    align-self: flex-start;
    order: 2;
  }
}