.page__container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-top: 19px;
  padding-bottom: 150px;
}

.article {
  flex-basis: 1095px;
}

.article__crumbs {
  margin-bottom: 80px;
}

.page__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  color: #454545;
  margin-bottom: 40px;
}

.article__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 100px;
  margin-top: 0;
}

.article__link-block {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

.article__link-back {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  padding-left: 34px;
  align-self: center;
}

.article__link-back:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 12px;
  left: 0;
  top: 2px;
  background-image: url("/img/article/keyboard_backspace.svg");
  background-size: contain;
}

.article__author {
  display: flex;
  flex-direction: column;
}

.article__link-author {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: var(--black-color, #000000);
  margin-bottom: 20px;
  align-self: flex-end;
}

.article__date {
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  color: var(--lightgrey-color, #8f8f8f);
  margin-bottom: 15px;
}

.article__reaction {
  display: flex;
  gap: 37px;
}

.article__views,
.article__comments {
  display: flex;
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: var(--lightgrey-color, #8f8f8f);
  vertical-align: middle;
  align-items: center;
}

.article__views:before,
.article__comments:before {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}

.article__views:before {
  width: 20px;
  height: 14px;
  background-image: url("/img/blog/views.svg");
}

.article__comments:before {
  width: 20px;
  height: 20px;
  background-image: url("/img/blog/comments.svg");
}

.article__link-back:hover {
  color: var(--blue-color, #3670C7);
}

@media (max-width: 1200px) {
  .page__container {
    gap: 20px;
    padding-top: 25px;
    padding-bottom: 100px;
  }
  
  .article {
    flex-basis: 620px;
  }
  
  .article__crumbs {
    margin-bottom: 60px;
  }
  
  .page__title {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 30px;
  }
  
  .article__text {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 60px;
  }
  
  .article__link-block {
    margin-right: 0;
  }
  
  .article__link-back {
    font-size: 14px;
    line-height: 18.2px;
    padding-left: 26px;
    align-self:flex-end;
  }

  .article__link-author {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 30px;
  }
  
  .article__date {
    font-size: 14px;
    line-height: 18.2px;
    margin-bottom: 17px;
  }
  
  .article__reaction {
    gap: 22px;
  }
  
  .article__views,
  .article__comments {
    padding-left: 25px;
    font-size: 14px;
    line-height: 18.2px;
  }
}

@media (max-width: 768px) {
  .page__container {
    flex-direction: column;
    gap: 60px;
    padding-top: 15px;
    padding-bottom: 80px;
  }
  
  .article {
    flex-basis: 100%;
  }
  
  .article__crumbs {
    margin-bottom: 50px;
  }
  
  .page__title {
    font-size: 28px;
    line-height: 36.4px;
    margin-bottom: 20px;
  }
  
  .article__text {
    font-size: 16px;
    line-height: 20.8px;
    margin-bottom: 35px;
  }
  
  .article__link-back {
    font-size: 14px;
    line-height: 18.2px;
    padding-left: 23px;
  }
  
  .article__link-author {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
  }
  
  .article__date {
    font-size: 14px;
    line-height: 18.2px;
  }
}

@media (max-width: 520px) {
  .page__container {
    padding-top: 0;
    padding-bottom: 52px;
  }

  .article__crumbs {
    margin-bottom: 30px;
  }
  
  .page__title {
    font-size: 18px;
    line-height: 23.4px;
    margin-bottom: 10px;
  }
  
  .article__text {
    font-size: 12px;
    line-height: 15.6px;
    margin-bottom: 30px;
  }
  
  .article__link-block {
    flex-direction: column;
  }
  
  .article__link-back {
    font-size: 10px;
    line-height: 13px;
    padding-left: 20px;
    align-self: flex-start;
    order: 2;
  }
  
  .article__link-back:before {
    width: 12px;
    height: 8px;
   
  }
  
  .article__link-author {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  
  .article__date {
    font-size: 8px;
    line-height: 10.4px;
    margin-bottom: 12px;
    align-self: flex-end;
  }
  
  .article__reaction {
    gap: 7px;
    margin-bottom: 23px;
    margin-right: 40px;
    align-self: flex-end;
  }
  
  .article__views,
  .article__comments {
    padding-left: 12px;
    font-size: 8px;
    line-height: 10.8px;
  }
  
  
  .article__views:before {
    width: 10.41px;
    height: 7.58px;
    bottom: 4px;
  }
  
  .article__comments:before {
    width: 10.83px;
    height: 10.83px;
  }
  
  .article__link-back:hover {
    color: var(--blue-color, #3670C7);
  }
}