.blog__container {
    padding-top: 19px;
    padding-bottom: 151px;
}

.blog__article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: var(--column-gap);
    row-gap: 50px;
    padding: 80px 0 100px 0;
    margin: 0 auto;
}

.article-cart {
    display: flex;
    flex-basis: calc(100% / var(--cart-count) - (var(--column-gap) * (var(--cart-count) - 1)) / var(--cart-count));
    gap: 30px;
}

.article-cart__img-block {
    height: 195px;
    width: 195px;
    flex-shrink: 0;
}

.article-cart__img {
    object-fit: cover;
    object-position: 0 20%;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.article-cart__text-block {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    gap: 13px;
}

.article-cart__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-cart__title-block {
    margin: 0; /* Убираем внешний отступ */
    -webkit-line-clamp: 2; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
}

.article-cart__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 41.6px;
    color: var(--darkgrey-color, #2D2D2D);
}

.article-cart__date {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    color: var(--lightgrey-color, #8F8F8F);
}

.article-cart__reaction {
    display: flex;
    gap: 25px;
    justify-self: flex-end;
}

.article-cart__views,
.article-cart__comments {
    display: flex;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    color: var(--lightgrey-color, #8F8F8F);
    vertical-align: middle;
}

.article-cart__views:before,
.article-cart__comments:before {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
}

.article-cart__views:before {
    width: 20px;
    height: 14px;
    background-image: url('/img/blog/views.svg');
}

.article-cart__comments:before {
    width: 20px;
    height: 20px;
    background-image: url('/img/blog/comments.svg');
}

.blog__pagination {
    display: flex;
    justify-content: center;
    gap: 34px;
}

.pagination__left,
.pagination__right {
    background-color: transparent;
    outline: none;
    border: none;
}

.pagination__img {
    object-fit: contain;
    width: 37px;
    height: 37px;
    outline: none;
}

.pagination__num-list {
    display: flex;
    gap: 6px;
}

.pagination__num {    
    width: 36px;  
    height: 36px;  
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    border: 3px solid var(--darkgrey-color, #2D2D2D);;
    border-radius: 5px;
    color: var(--darkgrey-color, #2D2D2D);
    text-decoration: none;
}

.pagination__img:hover,
.pagination__img:focus {
    fill: var(--blue-color, #3670C7);
}

.pagination__img:focus {
    outline: 1px solid var(--blue-color, #3670C7);
}

.pagination__num:hover,
.pagination__num:focus,
.pagination__num_active {
   color: var(--blue-color, #3670C7);
   border-color: var(--blue-color, #3670C7);
}

@media (max-width: 1200px) {
    .blog__container {
        padding-top: 25px;
        padding-bottom: 101px;
    }
    
    .blog__article {
        row-gap: 30px;
        padding: 60px 0 80px 0;
    }
    
    .article-cart {  
        gap: 20px;
    }
    
    .article-cart__img-block {
        height: 140px;
        width: 140px;
    }
    
    .article-cart__img {
        border-radius: 16px;
    }
    
    .article-cart__text-block {
        padding-top: 4px;
        gap: 11px;
    }
    
    .article-cart__title {
        font-size: 24px;
        line-height: 28.8px;
    }
    
    .article-cart__date {
        font-size: 14px;
        line-height: 18.2px;
    }
    
    .article-cart__reaction {
        gap: 22px;
    }
    
    .article-cart__views,
    .article-cart__comments {
        padding-left: 25px;
        font-size: 14px;
        line-height: 18.2px;
    }
}

@media (max-width: 768px) {
    .blog__container {
        padding-top: 15px;
        padding-bottom: 83px;
    }
    
    .blog__article {
        row-gap: 20px;
        padding: 50px 0 56px 0;
    }
    
    .article-cart__title {
        font-size: 22px;
        line-height: 26.4px;
    }
    
    .article-cart__date {
        font-size: 14px;
        line-height: 18.2px;
    }
  }

  @media (max-width: 520px) {
    .blog__container {
        padding-top: 0;
        padding-bottom: 53px;
    }
    
    .blog__article {
        row-gap: 10px;
        padding: 31px 0 46px 0;
    }
    
    .article-cart {  
        gap: 7px;
    }
    
    .article-cart__img-block {
        height: 60px;
        width: 60px;
    }
    
    .article-cart__img {
        border-radius: 8px;
    }
    
    .article-cart__text-block {
        font-size: 14px;
        justify-content: space-between;
        padding-top: 0;
        gap: 5px;
    }
    
    .article-cart__title {
        font-size: 14px;
        line-height: 16.8px;
    }
    
    .article-cart__date {
        font-size: 8px;
        line-height: 10.4px;
    }
    
    .article-cart__reaction {
        gap: 7px;
    }
    
    .article-cart__views,
    .article-cart__comments {
        padding-left: 12px;
        font-size: 8px;
        line-height: 10.4px;
    }

    .article-cart__views:before {
        width: 10.41px;
        height: 7.58px;
    }
    
    .article-cart__comments:before {
        width: 10.83px;
        height: 10.83px;
    }

    .article-cart__info {
        flex-direction: row;
        justify-content: flex-start;
        flex-shrink: 0;
        align-items: flex-end;
        gap: 15px;
    }

  }